.add-payment-header{
    color: #4cceac;
    font-size: 4em;
    text-align: center;
}

.add-payment-form{
    display: flex;
    flex-direction: column;
    background-color: #3d3d3d;
    margin: 1% 2%;
    padding: 1% 2%;
    border-radius: 1rem;
}

.add-payment-form label{
    font-size: 2em;
    color: #4cceac;
}

.add-payment-form p{
    color: #4cceac;
    cursor: pointer;
}

.add-payment-form input{
    background-color: #3d3d3d;
    color: #e0e0e0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    font-size: 1.5em;
}

.submit-payment-button{
    margin-top: 0.5%;
    background-color: #4cceac;
    color: #3d3d3d;
    padding: 0.4%;
}