.payment-selection-header{
    margin-top: 1%;
    color: #4cceac;
    font-size: 4em;
    text-align: center;
}

.payment-container{
    margin: 1% 2%;
    padding: 2%;
    background-color: #3d3d3d;
    border-radius: 1rem;
}

.individual-payment{
    background-color: #666666;
    margin-bottom: 1%;
    padding: 1%;
    border-radius: 1rem;
    border: 2px solid #4cceac;
}

.user-payment-info{
    color: #4cceac;
    font-size: 1.5em;
    margin-bottom: 0.5%;
}

.payment-selection-button{
    background-color: #4cceac;
    color: #3d3d3d;
    padding: 0.2% 1%;
    border-radius: 1rem;
}

.selected-payment{
    margin-left: 4%;
}

form .payment-selection-button{
    margin-left: 4%;
}