.order-confirmation-container{
    margin: 1% 2%;
    padding: 1%;
    background-color: #3d3d3d;
    border-radius: 1rem;
    text-align: center;
}

.order-confirmed-header{
    color: #4cceac;
    font-size: 4em;
}

.confirm-number{
    font-size: 2.5em;
}

.confirm-details{
    font-size: 2em;
    color: #e0e0e0;
}

.confimred-item-container{
    margin-top: 1%;
}

.confirmed-items{
    background-color: #666666;
    border-radius: 1rem;
    color: #4cceac;
    font-size: 1.5em;
    padding: 1%;
    margin-bottom: 1%;
}

.confirmation-button{
    background-color: #4cceac;
    color: #3d3d3d;
    padding: 1% 3%;
    border-radius: 1rem;
}