.header{
    background-color: #3D3D3D;
    color: #4CCEAC;
    padding: 0.5em;
    text-align: center;
    font-size: 2.5rem;
    /* font-size: 5em; */
    text-align: center;
    color: #4cceac;
    margin-top: 0;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #4cceac,
    0 0 82px #4cceac,
    0 0 15px #4cceac,
    0 0 10px #4cceac,
    0 0 5px #4cceac;
}

a{
    text-decoration: none;
}

.nav-container{
    background-color: #666666;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 2px -2px gray;
}

.nav{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 50%;
}

.user-nav{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 50%;
    justify-content: end;
}

.nav-buttons{
    position: relative;
    color:#4CCEAC;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 1.5vw;
}

.nav-buttons:after{
    content: "";
    position: absolute;
    background-color: #E0E0E0;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s ease-in;
}

.nav-buttons:hover:after{
    width: 100%;
    
}

.nav-buttons:hover{
    color: #E0E0E0;
}

.user-nav-buttons{
    position: relative;
    color:#4CCEAC;
    font-size: 1.5rem;
    margin-right: 1.5vw;
}

.user-nav-buttons:after{
    content: "";
    position: absolute;
    background-color: #E0E0E0;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s ease-in-out;
}

.user-nav-buttons:hover:after{
    width: 100%;
    
}

.user-nav-buttons:hover{
    color: #E0E0E0;
    cursor: pointer;
}
